html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-color: #363a3b;
}

.section {
  padding: 50px 0;
}
.container {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.box {
  position: relative;
  width: 500px;
  height: 250px;
  cursor: pointer;
}

.box span {
  position: absolute;
  width: 100%;
  height: 1px;
  background-image: var(--img);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}
.box.active span {
  transform: translateX(var(--x)) rotate(var(--r));
}
